{% extends "base.html.twig" %}

{% block body %}
    <h1 class="mt-5 text-center">Modifier la catégorie n° {{categorie.id}}</h1>
    {% include "categorie/_form.html.twig" with {'formLabel': "Mettre à jour"} %}
{% endblock %}