{% extends "base.html.twig" %}

{% block body %}
    <h1 class="text-danger">Une erreur s'est produite</h1>
    <p>N'hésitez pas à recommencer l'opération ou à nous contacter.</p>
    <p><a href="{{path('article')}}">Consulter nos articles</a></p>
{% endblock %}