{% extends "base.html.twig" %}

{% block body %}
    <h1>Un nouvel article est apparu, pour le consulter, cliquez sur le lien ci-dessous</h1>
    <p><a href="{{ url('article')}}">Mon dernier super article</a></p>
{% endblock %}